<ul class="timeline">
  <li *ngFor="let log of logs">

    <div class="timeline-badge info" *ngIf="log.state == 5" (click)="open_process_modal (log)">
      <i class="fas fa-question"></i>
    </div>
    <div class="timeline-badge danger" *ngIf="log.state == 4" (click)="open_process_modal (log)">
      <i class="fas fa-times"></i>
    </div>
    <div class="timeline-badge success" *ngIf="log.state == 3" (click)="open_process_modal (log)">
      <i class="fas fa-check"></i>
    </div>
    <div class="timeline-badge default" *ngIf="log.state == 2" (click)="open_process_modal (log)">
      <i class="fas fa-pause"></i>
    </div>
    <div class="timeline-badge danger" *ngIf="log.state == 1" (click)="open_process_modal (log)">
      <i class="fas fa-exclamation"></i>
    </div>
    <div class="timeline-badge warn" *ngIf="log.state == 0" (click)="open_process_modal (log)">
      <i class="fas fa-question"></i>
    </div>

    <div class="timeline-panel">
      <div class="timeline-heading">
        <h4 class="timeline-title">{{log.name}}</h4>

        <div *ngFor="let item of log.states">

          <div *ngIf="item.state == 6">
            <span class="badge badge-success"><i class="fas fa-check-circle"></i>&nbsp;&nbsp;{{item.pot | trlo_locale}}</span>
          </div>
          <div *ngIf="item.state == 7">
            <span class="badge badge-light"><i class="fas fa-eye"></i>&nbsp;&nbsp;{{item.pot | trlo_locale}}&nbsp;&nbsp;{{item.data.remote}}</span>
          </div>
          <div *ngIf="item.state == 1">
            <span class="badge badge-danger"><i class="fas fa-exclamation"></i>
              &nbsp;&nbsp;{{item.pot | trlo_locale}}&nbsp;&nbsp;
              <span *ngIf="item.data">
                {{item.data.err_text}}
              </span>
            </span>
          </div>

        </div>
        <div *ngIf="log.state == 2 || log.state == 1 || log.between">

          <ng-container *ngIf="tools">

            <hr>

          </ng-container>

        </div>

      </div>
      <div class="mt-4" *ngIf="log.logs">
        <div class="timeline-body mt-2">

          <flow-chain [logs]="log.logs" (refresh)="refresh_apply()" [tools]="tools"></flow-chain>

        </div>
      </div>
    </div>
  </li>
</ul>
