<ul class="timeline">
  <li *ngFor="let log of logs">

    <div class="timeline-badge success" *ngIf="log.state == 3">
      <i class="fas fa-check"></i>
    </div>
    <div class="timeline-badge default" *ngIf="log.state == 2">
      <i class="fas fa-pause"></i>
    </div>
    <div class="timeline-badge danger" *ngIf="log.state == 1">
      <i class="fas fa-exclamation"></i>
    </div>
    <div class="timeline-badge warn" *ngIf="log.state == 0">
      <i class="fas fa-question"></i>
    </div>

    <div class="timeline-panel">
      <div class="timeline-heading">
        <h4 class="timeline-title">{{log.name}}</h4>

        <div *ngFor="let item of log.states">

          <div *ngIf="item.state == 6">
            <small class="text-muted"><i class="fas fa-check-circle"></i>&nbsp;&nbsp;{{item.pot | trlo_locale}}</small>
          </div>
          <div *ngIf="item.state == 7">
            <small class="text-muted"><i class="fas fa-eye"></i>&nbsp;&nbsp;{{item.pot | trlo_locale}}&nbsp;&nbsp;{{item.data['remote']}}</small>
          </div>

        </div>

      </div>
      <div class="mt-4" *ngIf="log.logs">
        <div class="timeline-body mt-2">

          <flow-chain [logs]="log.logs"></flow-chain>

        </div>
      </div>
    </div>
  </li>
</ul>
