<ng-container *ngIf="policy_context">

  <ng-container *ngIf="policy_current">

    <div class="d-flex justify-content-between">
      <span><i class="fa fa-fw" [ngClass]="{'fa-exclamation-triangle': policy_current.length < policy_context.length, 'fa-check': policy_current.length >= policy_context.length}"></i>&nbsp;&nbsp;{{ 'AUTH.POLICY_LENGTH' | transloco }}</span>
      <span><span class="badge width_2em" [ngClass]="{'badge-danger': policy_current.length < policy_context.length, 'badge-success': policy_current.length >= policy_context.length}">{{policy_current.length}}</span>&nbsp;/&nbsp;<span class="badge badge-secondary width_2em">{{policy_context.length}}</span></span>
    </div>
    <div class="d-flex justify-content-between">
      <span><i class="fa fa-fw" [ngClass]="{'fa-exclamation-triangle': policy_current.lower_case < policy_context.lower_case, 'fa-check': policy_current.lower_case >= policy_context.lower_case}"></i>&nbsp;&nbsp;{{ 'AUTH.POLICY_LOWERCASE' | transloco }}</span>
      <span><span class="badge width_2em" [ngClass]="{'badge-danger': policy_current.lower_case < policy_context.lower_case, 'badge-success': policy_current.lower_case >= policy_context.lower_case}">{{policy_current.lower_case}}</span>&nbsp;/&nbsp;<span class="badge badge-secondary width_2em">{{policy_context.lower_case}}</span></span>
    </div>
    <div class="d-flex justify-content-between">
      <span><i class="fa fa-fw" [ngClass]="{'fa-exclamation-triangle': policy_current.upper_case < policy_context.upper_case, 'fa-check': policy_current.upper_case >= policy_context.upper_case}"></i>&nbsp;&nbsp;{{ 'AUTH.POLICY_UPPERCASE' | transloco }}</span>
      <span><span class="badge width_2em" [ngClass]="{'badge-danger': policy_current.upper_case < policy_context.upper_case, 'badge-success': policy_current.upper_case >= policy_context.upper_case}">{{policy_current.upper_case}}</span>&nbsp;/&nbsp;<span class="badge badge-secondary width_2em">{{policy_context.upper_case}}</span></span>
    </div>
    <div class="d-flex justify-content-between">
      <span><i class="fa fa-fw" [ngClass]="{'fa-exclamation-triangle': policy_current.numbers < policy_context.numbers, 'fa-check': policy_current.numbers >= policy_context.numbers}"></i>&nbsp;&nbsp;{{ 'AUTH.POLICY_NUMBERS' | transloco }}</span>
      <span><span class="badge width_2em" [ngClass]="{'badge-danger': policy_current.numbers < policy_context.numbers, 'badge-success': policy_current.numbers >= policy_context.numbers}">{{policy_current.numbers}}</span>&nbsp;/&nbsp;<span class="badge badge-secondary width_2em">{{policy_context.numbers}}</span></span>
    </div>
    <div class="d-flex justify-content-between">
      <span><i class="fa fa-fw" [ngClass]="{'fa-exclamation-triangle': policy_current.special_chars < policy_context.special_chars, 'fa-check': policy_current.special_chars >= policy_context.special_chars}"></i>&nbsp;&nbsp;{{ 'AUTH.POLICY_SPECIALCHARS' | transloco }}</span>
      <span><span class="badge width_2em" [ngClass]="{'badge-danger': policy_current.special_chars < policy_context.special_chars, 'badge-success': policy_current.special_chars >= policy_context.special_chars}">{{policy_current.special_chars}}</span>&nbsp;/&nbsp;<span class="badge badge-secondary width_2em">{{policy_context.special_chars}}</span></span>
    </div>

  </ng-container>
  <ng-container *ngIf="!policy_current">

    <div class="d-flex justify-content-between">
      <span><i class="fa fa-minus fa-fw"></i>&nbsp;&nbsp;{{ 'AUTH.POLICY_LENGTH' | transloco }}</span>
      <span><span class="badge badge-secondary width_2em">{{policy_context.length}}</span></span>
    </div>
    <div class="d-flex justify-content-between">
      <span><i class="fa fa-minus fa-fw"></i>&nbsp;&nbsp;{{ 'AUTH.POLICY_LOWERCASE' | transloco }}</span>
      <span><span class="badge badge-secondary width_2em">{{policy_context.upper_case}}</span></span>
    </div>
    <div class="d-flex justify-content-between">
      <span><i class="fa fa-minus fa-fw"></i>&nbsp;&nbsp;{{ 'AUTH.POLICY_UPPERCASE' | transloco }}</span>
      <span><span class="badge badge-secondary width_2em">{{policy_context.upper_case}}</span></span>
    </div>
    <div class="d-flex justify-content-between">
      <span><i class="fa fa-minus fa-fw"></i>&nbsp;&nbsp;{{ 'AUTH.POLICY_NUMBERS' | transloco }}</span>
      <span><span class="badge badge-secondary width_2em">{{policy_context.numbers}}</span></span>
    </div>
    <div class="d-flex justify-content-between">
      <span><i class="fa fa-minus fa-fw"></i>&nbsp;&nbsp;{{ 'AUTH.POLICY_SPECIALCHARS' | transloco }}</span>
      <span><span class="badge badge-secondary width_2em">{{policy_context.special_chars}}</span></span>
    </div>

  </ng-container>

  <hr>
</ng-container>

<div class="input-group mb-2">
  <div class="input-group-prepend">
    <span class="input-group-text width_10em" id="basic-addon1"><small>{{ 'AUTH.PASSWORDNEW1' | transloco }}</small></span>
  </div>
  <input (blur)="on_change_1 ($event)" [ngClass]="{'is-invalid': err1}" type="password" class="form-control">
</div>

<ng-container *ngIf="policy_current">

  <div class="progress mb-2">
    <div class="progress-bar" role="progressbar" [ngClass]="{'bg-danger': policy_current.strength == 0, 'bg-warning': policy_current.strength == 1, 'bg-info': policy_current.strength == 2, 'bg-success': policy_current.strength == 3}" [ngStyle]="{'width': '' + (policy_current.strength + 1) * 25 + '%'}" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">{{ password_strength_text () | transloco }}</div>
  </div>

  <div *ngIf="err1" class="text-danger mb-2">
    <small><i class="fa fa-exclamation-triangle"></i>&nbsp;&nbsp;{{ err1 | transloco }}</small>
  </div>

</ng-container>

<div class="input-group mb-2">
  <div class="input-group-prepend">
    <span class="input-group-text width_10em" id="basic-addon1"><small>{{ 'AUTH.PASSWORDNEW2' | transloco }}</small></span>
  </div>
  <input [ngModel]="pass_new2" (blur)="on_change_2 ($event)" [ngClass]="{'is-invalid': err2}" type="password" class="form-control">
</div>

<div *ngIf="err2" class="text-danger mb-2">
  <small><i class="fa fa-exclamation-triangle"></i>&nbsp;&nbsp;{{ err2 | transloco }}</small>
</div>
