<table class="table mt-2">
  <thead>
    <tr>
      <th width="10%">
        <i class="fa fa-sign-in fa-fw"></i>
      </th>
      <th width="20%">
        IP
      </th>
      <th width="70%">
        {{ 'AUTH.INFO_BROWSER' | transloco }}
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of log_list" [ngSwitch]="item.status">
      <td>
        <span *ngSwitchCase="1" class="badge badge-success bg-success width_3em"><i class="fa fa-check fa-fw"></i></span>
        <span *ngSwitchCase="2" class="badge badge-danger bg-danger width_3em"><i class="fa fa-times-circle fa-fw"></i></span>
        <span *ngSwitchDefault><i class="fa fa-question-circle fa-fw"></i></span>
      </td>
      <td>
        <div>{{ item.ltime | trlo_timediff }}</div>
        <small>{{ item.ip }}</small>
      </td>
      <td class="text-right">
        <div>
          {{ item.ltime | trlo_locale }}
        </div>
        <div *ngIf="item.info">
          <ng-container *ngSwitchCase="1">
            <small>{{ item.info['userAgent'] }}</small>
          </ng-container>
          <ng-container *ngSwitchCase="2">
            <span class="badge badge-danger bg-danger width_7em">CODE: {{ item.info['err_code'] }}</span><br>
            <small>{{ item.info['err_text'] }}</small>
          </ng-container>
        </div>
      </td>
    </tr>
  </tbody>
</table>
