
<ng-template #content let-modal>
  <form workflow_add = "ngForm" (ngSubmit) = "modal.close(workflow_add.value)">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" width="2em" height="2em"><path d="M37,6H11a5,5,0,0,0-5,5v1a1,1,0,0,0,1,1h7V35H7a1,1,0,0,0-1,1v1a5,5,0,0,0,5,5H37a5,5,0,0,0,5-5V11A5,5,0,0,0,37,6Zm.71,27.71-3,3a1,1,0,0,1-1.42,0L30.58,34H26v1a1,1,0,0,1-1,1H21a1,1,0,0,1-1-1V31a1,1,0,0,1,1-1h1V27H21a1,1,0,0,1-1-1V22a1,1,0,0,1,1-1h4a1,1,0,0,1,1,1v1h5.18A3,3,0,0,1,33,21.18V18H32a1,1,0,0,1-1-1V16H26.42l-2.71,2.71a1,1,0,0,1-1.42,0l-3-3a1,1,0,0,1,0-1.42l3-3a1,1,0,0,1,1.42,0L26.42,14H31V13a1,1,0,0,1,1-1h4a1,1,0,0,1,1,1v4a1,1,0,0,1-1,1H35v3.18A3,3,0,1,1,31.18,25H26v1a1,1,0,0,1-1,1H24v3h1a1,1,0,0,1,1,1v1h4.58l2.71-2.71a1,1,0,0,1,1.42,0l3,3A1,1,0,0,1,37.71,33.71ZM8,11a3,3,0,1,1,6,0ZM8,37h6a3,3,0,0,1-6,0Z" data-name="Layer 2"/></svg>
      &nbsp;&nbsp;add workflow
    </h4>
  </div>
  <div class="modal-body">
      <div class="form-group">
        <label for="dateOfBirth">name</label>
        <div class="input-group">
          <input type="text" class="form-control" aria-describedby="name" placeholder="enter name" ngModel name = "workflow_name">
        </div>
      </div>
    </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.dismiss()">Cancel</button>
    <button type="submit" class="btn btn-outline-success">Add</button>
  </div>
  </form>
</ng-template>

<!-- ============================================================================================================ -->

<ng-template #workflow_del let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">
      <svg  width="2em" height="2em" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 294.995 294.995" xml:space="preserve">
      <g>
      	<path d="M291.874,248.279L165.605,26.526c-4.007-7.037-10.776-11.26-18.107-11.26s-14.101,4.202-18.107,11.239L3.121,248.238
      		c-3.979,6.989-4.164,15.013-0.493,21.326c3.67,6.313,10.663,10.165,18.705,10.165h252.329c8.042,0,15.035-3.852,18.705-10.165
      		C296.038,263.251,295.854,255.268,291.874,248.279z M146.665,86.229c9.665,0,17.5,7.835,17.5,17.5v63c0,9.665-7.835,17.5-17.5,17.5
      		c-9.665,0-17.5-7.835-17.5-17.5v-63C129.165,94.064,137,86.229,146.665,86.229z M147.498,204.005c9.665,0,17.5,7.835,17.5,17.5
      		c0,9.665-7.835,17.5-17.5,17.5c-9.665,0-17.5-7.835-17.5-17.5C129.998,211.84,137.833,204.005,147.498,204.005z"/>
      </g>
      </svg>

      &nbsp;&nbsp;delete workflow
    </h4>
  </div>
  <div class="modal-body">

    <div class="alert alert-danger" role="alert">
      this will delete the entire workflow and all its worksteps
    </div>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.dismiss()">Cancel</button>
    <button type="button" class="btn btn-danger" (click)="modal.close()">Delete</button>
  </div>
</ng-template>

<!-- ============================================================================================================ -->

  <div class="container mt-2" *authRole="['flow_admin']">
    <button (click)="modal__workflow_add__open(content)" type="button" class="btn btn-success">add workflow</button>


    <table class="table mt-2">
      <tr>
        <th></th>
        <th width="100%">name</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
      <tr *ngFor="let wf of workflows | async">
        <td>{{wf.cnt}}</td>
        <td>{{wf.name}}</td>
        <td>
          <button (click)="modal__process_add (wf.id)" type="button" class="btn btn-sm btn-outline-success">
            <span class="text-nowrap"><i class="fa fa-play"></i>&nbsp;&nbsp;start&nbsp;process</span>
          </button>
        </td>
        <td>
          <a class="btn btn-sm btn-outline-primary" [routerLink]="['/flow_editor', wf.id]">
            <i class="fa fa-edit"></i>
          </a>
        </td>
        <td>
          <button (click)="modal__workflow_del__open (workflow_del, wf.id)" type="button" class="btn btn-sm btn-outline-danger">
            <i class="fa fa-trash"></i>
          </button>
        </td>
      </tr>
    </table>


</div>
