<ng-container *ngIf="msgs_list_err == null">
    <table class="table mt-2">
      <tr>
        <th>
          {{ 'AUTH.MSGSTYPE' | transloco }}
        </th>
        <th width="100%">
          {{ 'AUTH.MSGSRECIPIENT' | transloco }}
        </th>
        <th>
          <button *ngIf="new_item == null" (click)="new_start()" type="button" class="btn btn-success btn-sm"><i class="fa fa-plus"></i></button>
        </th>
      </tr>
      <tr *ngIf="new_item">

        <td>
          <div class="btn-group mr-3">
            <div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
              <button class="btn btn-sm btn-outline-secondary" ngbDropdownToggle [ngSwitch]="new_item.type">
                <span *ngSwitchCase="1"><i class="fa fa-envelope"></i></span>
                <span *ngSwitchCase="2"><i class="fa fa-phone"></i></span>
              </button>
              <div class="dropdown-menu" ngbDropdownMenu>
                <button (click)="new_item.type = 1" type="button" class="dropdown-item">
                  <i class="fa fa-envelope"></i>&nbsp;&nbsp;{{ 'AUTH.MSGSEMAIL' | transloco }}
                </button>
                <button (click)="new_item.type = 2" type="button" class="dropdown-item">
                  <i class="fa fa-phone"></i>&nbsp;&nbsp;{{ 'AUTH.MSGSPHONE' | transloco }}
                </button>
              </div>
            </div>
          </div>
        </td>
        <td>
          <input type="text" class="form-control" [(ngModel)]="new_item.email">
        </td>
        <td>
          <div class="btn-group" role="group" aria-label="Basic example">
            <button (click)="new_apply()" type="button" class="btn btn-sm btn-outline-secondary"><i class="fas fa-plus"></i></button>
            <button (click)="new_cancel()" type="button" class="btn btn-sm btn-outline-secondary"><i class="fas fa-times"></i></button>
          </div>
        </td>

      </tr>
      <tr *ngFor="let item of msgs_list">

        <ng-container *ngIf="item.mode == 0">

          <td [ngSwitch]="item.type">
            <span *ngSwitchCase="1" class="badge badge-secondary"><i class="fa fa-envelope"></i></span>
            <span *ngSwitchCase="2" class="badge badge-secondary"><i class="fa fa-phone"></i></span>
          </td>
          <td>
            {{item.email}}
          </td>
          <td>
            <div class="btn-group" role="group" aria-label="Basic example">
              <button (click)="open_edit(item)" type="button" class="btn btn-sm btn-outline-secondary"><i class="fas fa-edit"></i></button>
              <button (click)="open_rm(item)" type="button" class="btn btn-sm btn-outline-secondary"><i class="fas fa-trash"></i></button>
            </div>
          </td>

        </ng-container>
        <ng-container *ngIf="item.mode == 1">

          <td>
            <div class="btn-group mr-3">
              <div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
                <button class="btn btn-sm btn-outline-secondary" ngbDropdownToggle [ngSwitch]="item.type">
                  <span *ngSwitchCase="1"><i class="fa fa-envelope"></i></span>
                  <span *ngSwitchCase="2"><i class="fa fa-phone"></i></span>
                </button>
                <div class="dropdown-menu" ngbDropdownMenu>
                  <button (click)="item.type = 1" type="button" class="dropdown-item">
                    <i class="fa fa-envelope"></i>&nbsp;&nbsp;{{ 'AUTH.MSGSEMAIL' | transloco }}
                  </button>
                  <button (click)="item.type = 2" type="button" class="dropdown-item">
                    <i class="fa fa-phone"></i>&nbsp;&nbsp;{{ 'AUTH.MSGSPHONE' | transloco }}
                  </button>
                </div>
              </div>
            </div>
          </td>
          <td>
            <input type="text" class="form-control" [(ngModel)]="item.email">
          </td>
          <td>
            <div class="btn-group" role="group" aria-label="Basic example">
              <button (click)="apply(item)" type="button" class="btn btn-sm btn-outline-secondary"><i class="fas fa-check"></i></button>
              <button (click)="cancel_edit(item)" type="button" class="btn btn-sm btn-outline-secondary"><i class="fas fa-times"></i></button>
            </div>
          </td>

        </ng-container>
        <ng-container *ngIf="item.mode == 2">

          <td>
          </td>
          <td class="text-danger">
            <del>{{item.email}}</del>
          </td>
          <td>
            <div class="btn-group" role="group" aria-label="Basic example">
              <button (click)="rm_apply(item)" type="button" class="btn btn-sm btn-outline-danger"><i class="fas fa-trash"></i></button>
              <button (click)="rm_cancel(item)" type="button" class="btn btn-sm btn-outline-danger"><i class="fas fa-times"></i></button>
            </div>
          </td>

        </ng-container>

      </tr>
    </table>

    <hr>

</ng-container>
<ng-container *ngIf="msgs_list_err">

  <div class="alert alert-danger" role="alert">
    {{ msgs_list_err | transloco }}
  </div>

</ng-container>

<ng-container *ngIf="opt_err == null">
  <qbng-switch [val]="opt_msgs" (onVal)="msgs_active_changed ($event)">{{ 'AUTH.MSGSACTIVE' | transloco }}</qbng-switch>
  <qbng-switch [val]="opt_2factor" (onVal)="msgs_2factor_changed ($event)">{{ 'AUTH.OPT2FACTOR' | transloco }}</qbng-switch>
</ng-container>
<ng-container *ngIf="opt_err">

  <div class="alert alert-danger" role="alert">
    {{ opt_err | transloco }}
  </div>

</ng-container>
