<table class="table mt-2">
  <tr>
    <th>
      <span class="badge badge-secondary width_5em">USER</span>
      <span class="badge badge-primary width_5em">GPID</span>
    </th>
    <th>
      ACTIVE
    </th>
    <th>
    </th>
    <th width="100%">
      {{ 'AUTH.FIRSTNAME' | transloco }} / {{ 'AUTH.LASTNAME' | transloco }}
    </th>
    <th>
      MSG
    </th>
    <th>
      2F
    </th>
    <th>
      TTL
    </th>
    <th>
      Locale
    </th>
    <th></th>
  </tr>
  <ng-container *ngFor="let item of users | async">
  <tr>
    <td style="padding-bottom: 0px;" rowspan="2">
      <span class="badge badge-secondary width_5em">{{item.userid}}</span>
      <span class="badge badge-primary width_5em">{{item.gpid}}</span>
    </td>
    <td style="padding-bottom: 0px;">
      <ng-container *ngIf="item.active == 0">
        <span class="badge badge-danger width_5em"><i class="far fa-ban"></i></span>
      </ng-container>
      <ng-container *ngIf="item.active == 1">
        <span class="badge badge-success width_5em"><i class="far fa-check"></i></span>
      </ng-container>
    </td>
    <td style="padding-bottom: 0px;">
      <ng-container *ngIf="item.state == 1">
        <i class="far fa-user"></i>
      </ng-container>
      <ng-container *ngIf="item.state == 2">
        <i class="fas fa-user"></i>
      </ng-container>
    </td>
    <td style="padding-bottom: 0px;">
      <strong>{{item.firstname}} {{item.lastname}}</strong>
    </td>
    <td style="padding-bottom: 0px;">
      <ng-container *ngIf="item.opt_msgs == 0">
        <span class="badge badge-secondary width_3em">-</span>
      </ng-container>
      <ng-container *ngIf="item.opt_msgs == 1">
        <span class="badge badge-success width_3em"><i class="far fa-envelope"></i></span>
      </ng-container>
    </td>
    <td style="padding-bottom: 0px;">
      <ng-container *ngIf="item.opt_2factor == 0">
        <span class="badge badge-secondary width_3em">-</span>
      </ng-container>
      <ng-container *ngIf="item.opt_2factor == 1">
        <span class="badge badge-success width_3em"><i class="far fa-shield-alt"></i></span>
      </ng-container>
    </td>
    <td style="padding-bottom: 0px;">
      {{item.opt_ttl}}
    </td>
    <td style="padding-bottom: 0px;">
      {{item.opt_locale}}
    </td>
    <td style="padding-bottom: 0px;" rowspan="2">
      <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-outline-secondary btn-sm" (click)="open_settings(item)"><i class="fa fa-cogs"></i></button>
        <button type="button" class="btn btn-outline-secondary btn-sm" (click)="open_roles(item)"><i class="fa fa-lock"></i></button>
      </div>
    </td>
  </tr>
  <tr>
    <td style="border-top: 0px; padding-top: 0.2em;" class="text-muted" colspan="2" >
      <small><i class="far fa-eye"></i>&nbsp;{{item.last | trlo_timediff}}</small>
    </td>
    <td style="border-top: 0px; padding-top: 0.2em;" class="text-muted">
      <small><i class="far fa-network-wired"></i>&nbsp;&nbsp;{{item.ip}}</small>
    </td>
    <td style="border-top: 0px; padding-top: 0.2em;" class="text-muted" colspan="3" >
      <small><i class="far fa-calendar"></i>&nbsp;&nbsp;{{item.last | trlo_locale}}</small>
    </td>
    <td style="border-top: 0px; padding-top: 0.2em;" class="text-muted">
      <small><i class="far fa-sign-in-alt"></i>&nbsp;&nbsp;{{item.logins}}</small>
    </td>
  </tr>
  </ng-container>
</table>
