<table class="table mt-2" *ngIf="roles_items == null">
  <thead>
    <tr>
      <th>
        <span class="badge badge-secondary bg-secondary width_10em">{{ 'AUTH.ROLE_NAME' | transloco }}</span>
      </th>
      <th width="100%">
        {{ 'AUTH.ROLE_INFO' | transloco }}
      </th>
      <th>
        <div class="btn-group mr-3">
          <div class="btn-group" ngbDropdown role="group" aria-label="Add Roles">
            <button (click)="open_role_add()" type="button" class="btn btn-success btn-sm"><i class="fa fa-plus fa-fw"></i></button>
            <button class="btn btn-sm btn-success" ngbDropdownToggle><i class="fa fa-bars"></i></button>
            <div class="dropdown-menu" ngbDropdownMenu>
              <button (click)="open_role_add ()" type="button" class="dropdown-item text-success">
                <i class="fa fa-plus fa-fw"></i>&nbsp;&nbsp;|&nbsp;&nbsp;{{ 'AUTH.ADD_ROLE' | transloco }}
              </button>
            </div>
          </div>
        </div>
      </th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let item of roles_items_ui">
    <tr>
      <td>
        <span class="badge badge-primary bg-primary width_10em">{{item.name}}</span>
      </td>
      <td>
        {{item.description}}
      </td>
      <td>
        <button (click)="open_role_rm (item)" type="button" class="btn btn-outline-secondary btn-sm"><i class="fa fa-trash fa-fw"></i></button>
      </td>
    </tr>
    </ng-container>
    <ng-container *ngFor="let item of roles_items_wp">
    <tr>
      <td>
        <span class="badge badge-secondary bg-secondary width_10em">{{item.name}}</span>
      </td>
      <td>
        {{item.description}}
      </td>
      <td>
      </td>
    </tr>
    </ng-container>
  </tbody>
</table>

<table class="table mt-2" *ngIf="roles_items">
  <thead>
    <tr>
      <th>
        <span class="badge badge-secondary bg-secondary width_10em">{{ 'AUTH.ROLE_NAME' | transloco }}</span>
      </th>
      <th width="100%">
        {{ 'AUTH.ROLE_INFO' | transloco }}
      </th>
      <th>
        <button (click)="close_role_add()" type="button" class="btn btn-danger btn-sm"><i class="fa fa-arrow-left fa-fw"></i></button>
      </th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let item of roles_items">
    <tr>
      <td>
        <span class="badge badge-secondary bg-secondary width_10em">{{item.name}}</span>
      </td>
      <td>
        {{item.description}}
      </td>
      <td>
        <button (click)="warn_role_add (item)" type="button" class="btn btn-outline-success btn-sm"><i class="fa fa-plus fa-fw"></i></button>
      </td>
    </tr>
    </ng-container>
  </tbody>
</table>
