<page-toolbar #toolbar sorting="{'date': 'ltime', 'workplace': 'workplace'}"></page-toolbar>

<table class="table mt-2">
  <tr>
    <th>ip</th>
    <th width="100%">workplace</th>
    <th></th>
  </tr>
  <ng-container *ngFor="let item of login_items | pageToolBar : toolbar : ['workplace', 'ip']">

  <tr>
    <td>{{item.ip}} | {{item.city}}</td>
    <td>{{item.workspace}}</td>
    <td>{{item.ltime | trlo_locale}}</td>
  </tr>
  <tr>
    <td colspan="3">
      <div *ngIf="item.info; else elseBlock">
        <small>{{item.info.appVersion}}</small>
      </div>
      <ng-template #elseBlock>no info</ng-template>
    </td>
  </tr>

  </ng-container>
</table>
