<div class="modal-header">
  <div class="modal-title mr-auto">
    <strong><i class="fa fa-user-circle"></i>&nbsp;&nbsp;{{ 'AUTH.USER_INFO' | transloco }}</strong>
  </div>
  <ng-container *ngIf="edit_mode == false">
    <button type="button" class="btn btn-outline-secondary" (click)="toogle_edit ()"><i class="fas fa-user-edit"></i></button>
  </ng-container>
  <ng-container *ngIf="edit_mode == true">
    <button type="button" class="btn btn-outline-success" (click)="save_changes ()"><i class="fas fa-save"></i>&nbsp;&nbsp;{{ 'MISC.APPLY' | transloco }}</button>
  </ng-container>
</div>
<div class="modal-body">

  <ng-container *ngIf="edit_mode == false">

    <ul class="list-group">
      <li class="list-group-item">
        <div class="mr-auto">{{ auth_credentials.firstname }}&nbsp;{{ auth_credentials.lastname }}</div>&nbsp;&nbsp;<span class="badge badge-secondary">GPID: {{ auth_credentials.gpid }}</span>
      </li>
      <li class="list-group-item">
        <div class="mr-auto">{{ auth_credentials.workspace }}</div>&nbsp;&nbsp;<span class="badge badge-secondary">WPID: {{ auth_credentials.wpid }}</span>
      </li>
    </ul>

  </ng-container>
  <ng-container *ngIf="edit_mode == true">

    <div class="input-group mb-1">
      <div class="input-group-prepend">
        <span class="input-group-text width_10em" id="basic-addon1"><small>{{ 'AUTH.TITLE' | transloco }}</small></span>
      </div>
      <input [(ngModel)]="auth_credentials.title" type="text" class="form-control">
    </div>

    <div class="input-group mb-1">
      <div class="input-group-prepend">
        <span class="input-group-text width_10em" id="basic-addon1"><small>{{ 'AUTH.FIRSTNAME' | transloco }}</small></span>
      </div>
      <input [(ngModel)]="auth_credentials.firstname" type="text" class="form-control">
    </div>

    <div class="input-group mb-1">
      <div class="input-group-prepend">
        <span class="input-group-text width_10em" id="basic-addon1"><small>{{ 'AUTH.LASTNAME' | transloco }}</small></span>
      </div>
      <input [(ngModel)]="auth_credentials.lastname" type="text" class="form-control">
    </div>

  </ng-container>

</div>
<div class="modal-footer">
  <ng-container *ngIf="edit_mode == false">
    <button type="button" class="btn btn-outline-danger mr-auto" (click)="logout_submit ()"><i class="fas fa-sign-out-alt"></i>&nbsp;&nbsp;{{ 'AUTH.LOGOUT' | transloco }}</button>
  </ng-container>
  <button type="button" class="btn btn-outline-secondary" (click)="logout_cancel ()">{{ 'MISC.CLOSE' | transloco }}</button>
</div>
