<ng-container *ngIf="was_set == false">

  <ng-container>

    <div class="input-group mb-1">
      <div class="input-group-prepend">
        <span class="input-group-text width_10em" id="basic-addon1"><small>{{ 'AUTH.USERNAME' | transloco }}</small></span>
      </div>
      <input [ngModel]="user_value" type="text" class="form-control" readonly>
    </div>

  </ng-container>

  <div class="input-group mb-1">
    <div class="input-group-prepend">
      <span class="input-group-text width_10em" id="basic-addon1"><small>{{ 'AUTH.PASSWORDCURRENT' | transloco }}</small></span>
    </div>
    <input [(ngModel)]="pass_old" type="password" class="form-control">
  </div>

  <ng-container *ngIf="err">
    <div class="alert alert-danger" role="alert">
      {{ err | transloco }}
    </div>
  </ng-container>

  <hr>

  <auth-password-checker (onChange)="on_check_password($event)"></auth-password-checker>

  <hr>

  <div class="text-right mt-4">
    <button [disabled]="pass_new == null" (click)="apply ()" type="button" class="btn btn-outline-primary btn-block">{{ 'AUTH.CHANGE' | transloco }}</button>
  </div>

</ng-container>
<ng-container *ngIf="was_set == true">

  <div class="alert alert-success" role="alert">
    {{ 'AUTH.PASSCHANGED' | transloco }}
  </div>

</ng-container>
