<div class="modal-header">
  <span class="modal-title">
    <strong><i class="fa fa-plus-circle"></i>&nbsp;&nbsp;{{ 'FLOW.WORKSTEPADD' | transloco }}</strong>
  </span>
</div>
<div class="modal-body">

  <div class="row">

<!--
    <div class="col-md-6 col-12">
      <div class="form-group">
        <label>{{ 'FLOW.WSNAME' | transloco }}</label>
        <div class="input-group">
          <input type="text" class="form-control" [(ngModel)] = "modal_step_content.name" name="step_name" required>
          <div class="invalid-feedback">please enter a name for this step</div>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-12">
      <div class="form-group">
        <label>{{ 'FLOW.WSCONDITION' | transloco }}</label>
        <div class="input-group">
          <input type="text" class="form-control" [(ngModel)] = "modal_step_content.pdata['cond']" name="step_cond">
        </div>
      </div>
    </div>
-->
    <div class="col-md-6 col-12">
      <div class="form-group">
        <label>{{ 'FLOW.WSUSRFORM' | transloco }}</label>
        <select class="form-control" (ngModelChange)="on_usrform_change($event)" [ngModel]="index_usrid">
          <option [value]="-1">{{ 'FLOW.NOSELECTION' | transloco }}</option>
          <option *ngFor="let fct of userform_service.values; let i = index" [value]="i">{{fct.name}}</option>
        </select>
      </div>
    </div>

    <div class="col-md-6 col-12" *ngIf="index_usrid == -1">
      <div class="form-group">
        <label>{{ 'FLOW.WSFUNCTION' | transloco }}</label>
        <select class="form-control" (ngModelChange)="on_index_change($event)" [ngModel]="index_fctid" [disabled]="index_usrid != -1">
          <option *ngFor="let fct of function_service.values; let i = index" [value]="i">{{fct.name}}</option>
        </select>
      </div>
    </div>

  </div>

  <ul class="nav nav-tabs">
    <li class="nav-item" *ngIf="index_usrid != -1">
      <a (click)="show_usr = true" [ngClass]="{'active': show_usr}" class="nav-link">{{ 'FLOW.WSUSRFORM' | transloco }}</a>
    </li>
    <li class="nav-item">
      <a (click)="show_usr = false" [ngClass]="{'active': !show_usr}" class="nav-link">{{ 'FLOW.WSFUNCTPARAMS' | transloco }}</a>
    </li>
  </ul>

  <div [hidden]="!show_usr" class="pt-4">

    <flow-widget-usrform-component [workstep_content]="workstep_content" (contentChange)="on_content_change($event)"></flow-widget-usrform-component>

  </div>
  <div [hidden]="show_usr" class="pt-4">

    <div class="alert alert-info" role="alert">
      {{ function_service.get_desc (index_fctid) | transloco }}
    </div>

    <flow-widget-function-component [workstep_content]="workstep_content" (contentChange)="on_content_change($event)"></flow-widget-function-component>

  </div>

</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="modal.dismiss()">{{ 'MISC.CANCEL' | transloco }}</button>
  <button type="button" class="btn btn-outline-success" (click)="submit()">{{ submit_name | transloco }}</button>
</div>
